.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  border: 1px solid blue;
}

.filterdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.productGrid {
  height: 100%;
  width: 900px;
  border: 1px solid #ff0000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.productCard {
  height: 410px;
  width: 300px;
  border: 1px solid greenyellow;
}
.productimg {
  height: 350px;
  width: 300px;
}
